<html>
<head>
<meta charset="UTF-8">
<title>Statistics</title>
</head>
<body>



<h1>Statistics based on Squirrel Data</h1>
<table border="1" width="600">
 <tr>
  <th>Statistic</th>
  <th>Value</th>
  <th>Attribute Used</th>
 </tr>
 <tr>
   <td>Percentage of Running Squirrel</td>
   <td>{{var1}}%</td>
   <td>Running</td>
 </tr>
 <tr>
   <td>Most common primary fur color</td>
   <td>{{var2}}</td>
   <td>Primary_Fur_Color</td>
 </tr>
 <tr>
   <td>Number of Squirrels above ground</td>
   <td>{{var3}}</td>
   <td>Location</td>
 </tr>
 <tr>
   <td>Percentage of Chasing Squirrel</td>
   <td>{{var4}}%</td>
   <td>Chasing</td>
 </tr>
 <tr>
   <td>Percentage of Climbing Squirrel</td>
   <td>{{var5}}%</td>
   <td>Climbing</td>
 </tr>
</table>


</body>