{% extends 'hello\home.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<style>
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
</style>
<body>
<h1 style="color:white;">Welcome to Team 44's TFA Project</h1>
<h3 style="color:white;">Please use the above nav-bar to go through the different features we added to this Squirrel Tracker Project</h3>
<h2 style="color:white;">Done by: sd3419 & km3638</h2>
<style>
body {
  background-image: url('https://media.giphy.com/media/9PviFj7b2en2lkZN8Z/giphy.gif');
  background-repeat:no-repeat;
  background-size:cover;
}
</style>
</body>
</html>
{% endblock %}