<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

</head>
<body>
    <div class="container">
    	<div class="title">
    		<h3>Tables</h3>
    	</div>
    	<div class="row">
            <div class="">
                <h4>Simple Table</h4>
            </div>
            <div>
            <h4><small>Simple With Actions</small></h4>
                <div class="table-responsive">
                    <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">X</th>
                            <th>Y</th>
                            <th>Unique_Squirrel_ID</th>
                            <th>Shift</th>
                            <th class="text-right">Date</th>
                            <th class="text-right">Age</th>
                            <th class="text-right">Update</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in sightings %}
                        <tr>
                            <form>
                            <td class="text-center"> <input type="number" value="{{i.X}}"></input></td>
                            <td> <input type="number" value="{{i.Y}}">  </input></td>
                            <td> <input type="text" value="{{i.Unique_Squirrel_ID}}"> </input></td>
                            <td> <input type="text" value="{{i.Shift}}"> </input></td>
                            <td class="text-right"><input type="date" value="{{i.Date.year}}-{{i.Date.month}}-{{i.Date.day}}">  </input></td>
                            <td class="text-right"><input type="number" value="{{i.Age}}"> </input></td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" class="btn btn-success btn-just-icon btn-sm" data-original-title="" title="Update" text="update">
                                    <i class="material-icons">update</i>
                                </button>
                            </td>
                            </form>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
            </body>
              </html>